.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-custom{
    color: white;
    background-color: teal;
}
a{
    color: inherit;
}
.image{
    float: left;
    max-height: 200px;
    max-width: 100px;
}
.custom-div{
    display: flow-root;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;

}
.custom-div div{
    padding-left: 30%;
    max-height: 200px;
}

.custom-div ul{
    list-style-type: none;
    overflow: hidden;
    padding-top: 20px;
}

.custom-search{
    width: 60%;
}

.custom-div a{
    float: right;
}


.search-input > input {
  width: 45%;
  font-size: 18px;
  border: solid #d3d3d3;
  border-radius: 8%;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
}

.search-input > input:focus {
  outline: none;
  border: solid gray;
}
